## Column name cleaning

In [1]:
import pandas as pd

In [3]:
general_data = pd.read_excel('LaligaGeneralStats24_25.xlsx')
defense_data = pd.read_excel('LaligaDefenseStats24_25.xlsx')
passing_data = pd.read_excel('LaligaPassingStats24_25.xlsx')
possesion_data = pd.read_excel('LaligaPossesionStats24_25.xlsx')
shooting_data = pd.read_excel('LaLigaShootingStats24_25.xlsx')
shotcreation_data = pd.read_excel('LaLigaShotCreationStats24_25.xlsx')

In [5]:
def clean_columns(df):
    """Function to clean column up column names, removing spaces and special characters"""
    df.columns = (df.columns.str.lower()
                  .str.replace('+', '_plus_')
                  .str.replace('-', '_minus_')
                  .str.replace(' ', '_')
                  .str.replace('%', '_pct_')
                  .str.replace('/', '_per_')
                  .str.replace(':', '')
                 )
    df = df.rename(columns = {'90s' : 'ninety_s', 'min' : 'minutes'})
    return df

In [7]:
general_data = clean_columns(general_data)
defense_data = clean_columns(defense_data)
passing_data = clean_columns(passing_data)
possesion_data = clean_columns(possesion_data)
shooting_data = clean_columns(shooting_data)
shotcreation_data = clean_columns(shotcreation_data)

In [17]:
general_data.head()
defense_data.head()
passing_data.head()
possesion_data.head()
shooting_data.head()

,rk,player,nation,pos,squad,age,born,90s,gls,sh,...,dist,fk,pk,pkatt,xg,npxg,npxg_per_sh,g_minus_xg,npg_minus_xg,matches
0,1,Max Aarons,eng ENG,"DF,MF",Valencia,24,2000,1.3,0,0,...,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0,Matches
1,2,Rodrigo Abajas,es ESP,DF,Valencia,21,2003,0.7,0,1,...,24.5,0,0,0,0.1,0.1,0.07,-0.1,-0.1,Matches
2,3,Nabil Aberdin,fr FRA,MF,Getafe,21,2002,2.9,0,2,...,31.2,0,0,0,0.0,0.0,0.02,0.0,0.0,Matches
3,4,Abdel Abqar,ma MAR,DF,Alavés,25,1999,27.4,0,12,...,8.0,0,0,0,0.9,0.9,0.08,-0.9,-0.9,Matches
4,5,Akor Adams,ng NGA,FW,Sevilla,24,2000,1.5,0,2,...,22.2,0,0,0,0.4,0.4,0.22,-0.4,-0.4,Matches

In [9]:
print(general_data.info(), defense_data.info(),
     passing_data.info(), possesion_data.info(),
     shooting_data.info(), shotcreation_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rk                        601 non-null    int64
 1   player                    601 non-null    object
 2   nation                    601 non-null    object
 3   pos                       601 non-null    object
 4   squad                     601 non-null    object
 5   age                       601 non-null    int64
 6   born                      601 non-null    int64
 7   mp                        601 non-null    int64
 8   starts                    601 non-null    int64
 9   minutes                   601 non-null    int64
 10  ninety_s                  601 non-null    float64
 11  gls                       601 non-null    int64
 12  ast                       601 non-null    int64
 13  g_plus_a                  601 non-null    int64
 14  g_minus_pk                601 non-null    int64
 15  pk                        601 non-null    int64
 16  pkatt                     601 non-null    int64
 17  crdy                      601 non-null    int64
 18  crdr                      601 non-null    int64
 19  xg                        601 non-null    float64
 20  npxg                      601 non-null    float64
 21  xag                       601 non-null    float64
 22  npxg_plus_xag             601 non-null    float64
 23  prgc                      601 non-null    int64
 24  prgp                      601 non-null    int64
 25  prgr                      601 non-null    int64
 26  gls_per_90                601 non-null    float64
 27  ast_per_90                601 non-null    float64
 28  g_plus_a_per_90           601 non-null    float64
 29  g_minus_pk_per_90         601 non-null    float64
 30  g_plus_a_minus_pk_per_90  601 non-null    float64
 31  xg_per_90                 601 non-null    float64
 32  xag_per_90                601 non-null    float64
 33  xg_plus_xag_per_90        601 non-null    float64
 34  npxg_per_90               601 non-null    float64
 35  npxg_plus_xag_per_90      601 non-null    float64
 36  matches                   601 non-null    object
dtypes: float64(15), int64(17), object(5)
memory usage: 173.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rk            601 non-null    int64
 1   player        601 non-null    object
 2   nation        601 non-null    object
 3   pos           601 non-null    object
 4   squad         601 non-null    object
 5   age           601 non-null    int64
 6   born          601 non-null    int64
 7   ninety_s      601 non-null    float64
 8   tkl           601 non-null    int64
 9   tklw          601 non-null    int64
 10  def_3rd       601 non-null    int64
 11  mid_3rd       601 non-null    int64
 12  att_3rd       601 non-null    int64
 13  dribbl_tkl    601 non-null    int64
 14  att           601 non-null    int64
 15  tkl_pct_      523 non-null    float64
 16  lost          601 non-null    int64
 17  blocks        601 non-null    int64
 18  sh            601 non-null    int64
 19  pass          601 non-null    int64
 20  int           601 non-null    int64
 21  tkl_plus_int  601 non-null    int64
 22  clr           601 non-null    int64
 23  err           601 non-null    int64
 24  matches       601 non-null    object
dtypes: float64(2), int64(18), object(5)
memory usage: 117.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rk              601 non-null    int64
 1   player          601 non-null    object
 2   nation          601 non-null    object
 3   pos             601 non-null    object
 4   squad           601 non-null    object
 5   age             601 non-null    int64
 6   born            601 non-null    int64
 7   ninety_s        601 non-null    float64
 8   cmp             601 non-null    int64
 9   att             601 non-null    int64
 10  cmp_pct_        599 non-null    float64
 11  totdist         601 non-null    int64
 12  prgdist         601 non-null    int64
 13  short_cmp       601 non-null    int64
 14  short_att       601 non-null    int64
 15  short_cmp_pct_  594 non-null    float64
 16  med_cmp         601 non-null    int64
 17  med_att         601 non-null    int64
 18  med_cmp_pct_    588 non-null    float64
 19  long_cmp        601 non-null    int64
 20  long_att        601 non-null    int64
 21  long_cmp_pct_   568 non-null    float64
 22  ast             601 non-null    int64
 23  xag             601 non-null    float64
 24  xa              601 non-null    float64
 25  a_minus_xag     601 non-null    float64
 26  kp              601 non-null    int64
 27  final_3rd       601 non-null    int64
 28  ppa             601 non-null    int64
 29  crspa           601 non-null    int64
 30  prgp            601 non-null    int64
 31  matches         601 non-null    object
dtypes: float64(8), int64(19), object(5)
memory usage: 150.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rk           601 non-null    int64
 1   player       601 non-null    object
 2   nation       601 non-null    object
 3   pos          601 non-null    object
 4   squad        601 non-null    object
 5   age          601 non-null    int64
 6   born         601 non-null    int64
 7   ninety_s     601 non-null    float64
 8   touches      601 non-null    int64
 9   def_pen      601 non-null    int64
 10  def_3rd      601 non-null    int64
 11  mid_3rd      601 non-null    int64
 12  att_3rd      601 non-null    int64
 13  att_pen      601 non-null    int64
 14  live         601 non-null    int64
 15  take_on_att  601 non-null    int64
 16  succ         601 non-null    int64
 17  succ_pct_    510 non-null    float64
 18  tkld         601 non-null    int64
 19  tkld_pct_    510 non-null    float64
 20  carries      601 non-null    int64
 21  totdist      601 non-null    int64
 22  prgdist      601 non-null    int64
 23  prgc         601 non-null    int64
 24  final_3rd    601 non-null    int64
 25  cpa          601 non-null    int64
 26  mis          601 non-null    int64
 27  dis          601 non-null    int64
 28  rec          601 non-null    int64
 29  prgr         601 non-null    int64
 30  matches      601 non-null    object
dtypes: float64(3), int64(23), object(5)
memory usage: 145.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rk            601 non-null    int64
 1   player        601 non-null    object
 2   nation        601 non-null    object
 3   pos           601 non-null    object
 4   squad         601 non-null    object
 5   age           601 non-null    int64
 6   born          601 non-null    int64
 7   ninety_s      601 non-null    float64
 8   gls           601 non-null    int64
 9   sh            601 non-null    int64
 10  sot           601 non-null    int64
 11  sot_pct_      493 non-null    float64
 12  sh_per_90     601 non-null    float64
 13  sot_per_90    601 non-null    float64
 14  g_per_sh      493 non-null    float64
 15  g_per_sot     411 non-null    float64
 16  dist          493 non-null    float64
 17  fk            601 non-null    int64
 18  pk            601 non-null    int64
 19  pkatt         601 non-null    int64
 20  xg            601 non-null    float64
 21  npxg          601 non-null    float64
 22  npxg_per_sh   493 non-null    float64
 23  g_minus_xg    601 non-null    float64
 24  npg_minus_xg  601 non-null    float64
 25  matches       601 non-null    object
dtypes: float64(12), int64(9), object(5)
memory usage: 122.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rk        601 non-null    int64
 1   player    601 non-null    object
 2   nation    601 non-null    object
 3   pos       601 non-null    object
 4   squad     601 non-null    object
 5   age       601 non-null    int64
 6   born      601 non-null    int64
 7   ninety_s  601 non-null    float64
 8   sca       601 non-null    int64
 9   sca90     601 non-null    float64
 10  gca       601 non-null    int64
 11  gca90     601 non-null    float64
dtypes: float64(3), int64(5), object(4)
memory usage: 56.5+ KB
None None None None None None

In [11]:
general = 'LaLigaGeneralStats24_25.csv'
defense = 'LaLigaDefenseStats24_25.csv'
passing = 'LaLigaPassingStats24_25.csv'
possesion = 'LaLigaPossesionStats24_25.csv'
shooting = 'LaLigaShootingStats24_25.csv'
shotcreation = 'LaLigaShotCreation24_25.csv'

In [37]:
general_data.to_csv(general, index=False)
defense_data.to_csv(defense, index=False)
passing_data.to_csv(passing, index=False)
possesion_data.to_csv(possesion, index=False)
shooting_data.to_csv(shooting, index=False)

In [13]:
shotcreation_data.to_csv(shotcreation, index=False)